
<form ref='uploadForm' id='uploadForm' action="https://d6b42422.ngrok.io/upload" method='post' encType="multipart/form-data">
                <input type="file" name="sampleFile" /><br />
                <input type="text" placeholder="start year" name="startDate" /><br />
                <input type="text" placeholder="end year" name="endDate" /><br />
                <input type='submit' value='Upload!' />
</form>
